.navbar {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}
.home{
    position: absolute;
    width: 68px;
    height: 27px;
    left: 0px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}
.photoapp{
    position: absolute;
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
.design{
    position: absolute;
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
.download{
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
.simple_foto{
    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
    background: url(image.jpg)
}
.rep{
    position: absolute;
    width: 774px;
    height: 916px;
    left: 253px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.par_1{
    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 983px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.par_2{
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 1143px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button{
    position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 1425px;
    background: #FF0000;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
}
.copyright{
    position: absolute;
    width: 462px;
    height: 39px;
    left: 608px;
    top: 1607px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}